<% provide(:title, "Expenses") %>

<h1>Expenses <small>(last 30 days)</small></h1>

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>Account</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Description</th>
                </tr>
                <% @expenses.each do |e| %>
                <tr>
                    <td><%= e['account']['name'] %></td>
                    <td><%= e['value_date'].to_date.strftime("%b %d, %Y") %></td>
                    <td><%= number_to_currency(e['amount']) %></td>
                    <td><%= e['description'] %></td>
                </tr>
                <% end %>
            </table>
        </div>
    </div>
</div>
