<div class="center jumbotron">
    <h1>Budget Tracker</h1>
    <h2>You can have a rich life while living below your means.</h2>
    <p>Connect your bank to get all your transactions, so we can build a budget report for you.</p>
     <p>High security standards and read-only access ensures that we cannot access your money or make any changes to your accounts.</p>
     <%= link_to 'Connect with bank', '#', class: 'btn btn-lg btn-primary' %>
</div>