<%# <div class="page-header"> %>
  <h1>Transactions</h1>
<%# </div> %>

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Description</th>
                    <th>Status</th>
                </tr>
                <tr>
                    <td>2021/01/01</td>
                    <td>$543.3</td>
                    <td>Some expense</td>
                    <td>PENDING</td>
                </tr>
                <tr>
                    <td>2021/01/02</td>
                    <td>$7,832</td>
                    <td>Some other expense</td>
                    <td>PROCESSED</td>
                </tr>
            </table>
        </div>
    </div>
</div>