<footer class="footer">
    <div class="container">
    <small>
        Belvo Challenge by <a href="https://www.luisguerrerolab.com/">Luis Guerrero.</a>
    </small>
    <nav>
        <ul>
        <li><a href="https://www.linkedin.com/in/luisguerrerolab/">LinkedIn</a></li>
        <li><a href="https://github.com/luisguerrerolab">GitHub</a></li>
        <li><a href="https://twitter.com/luisguerrerolab">Twitter</a></li>
        </ul>
    </nav>
  </div>
</footer>